.process-icon {
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-radius: 50%;
}

.icon-sucsess { border: none; }

.icon-danger { border: 2px solid; }

.process-icon i { font-size: 12px; }

/* Process pill */
.process-pill { width: fit-content; }