html, body {
  width: 100%;
  height: 100%;
}

a { text-decoration: none !important; }

p { margin: 0px}

.cursor-pointer {
  cursor: pointer;
}

.list-style-circle {
  list-style-type: circle;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-addminus {
  padding: 0px 5px !important;
  height: 20px !important;
}

.btn-addminus i {
  line-height: 4px !important;
  font-size: 9px !important;
}

.btn-additem i { font-size: 8px !important; }